ion-title {
  text-align: center;
  font-size: 24px;
  margin-top: 3%;
}

ion-card {
  background-color: #FFCEE8;
  border-radius: 10px;
}

.icone{
  height: 45px;
  width: 45px;
}

.card{
  display: flex;
}

