<ion-header [translucent]="true">
  <ion-toolbar color="toolbar">
    <ion-title>
      Luta Rosa
    </ion-title>
    <ion-icon class="icone" name="person-circle-outline"  slot="end"></ion-icon>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
  <ion-card>
    <ion-card-header>
      <ion-card-title>O QUE É O NOSSO PROJETO?</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <div class="card">
  <ion-card>
    <ion-card-content>
      <img alt="mama" src="./../assets/mama.webp" />
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <img class="uteroimg" alt="utero" src="./../assets/utero.png" />
    </ion-card-content>
  </ion-card>
</div>
  </div>

</ion-content>
